<div class="image-block-fancy">
    <a href="#" class="image-block-link">
      <img src="http://unsplash.it/350/200">
      <div class="image-block-content">
        <h2 class="image-block-title">Title goes here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </a>
  </div>