<div class="horizontal-panel {{modifier}}">
    <div class="container">
        <h4 class="horizontal-panel-headline">Quick facts</h1>
        <div class="row">
            <div class="col-sm-4 quick-fact-item">
                <div class="quick-fact-metric">110+</div>
                <div class="metric-description"><p>Majors, minors and programs from accounting to zoology.</p></div>
            </div>
            <div class="col-sm-4 quick-fact-item">
                <div class="quick-fact-metric">7,100</div>
                <div class="metric-description"><p>Undergraduate students</p></div>
            </div>
            <div class="col-sm-4 quick-fact-item">
                <div class="quick-fact-metric">17:1</div>
                <div class="metric-description"><p>Student/faculty ratio</p></div>
            </div>
        </div>
    </div>
</div>