<div class="featured-content relative clearfix">
    <div class="col-sm-6 image">
        <img src="http://unsplash.it/800/600">
    </div>
    <div class="col-sm-6 padding-top-1 padding-bottom-1 body">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Rationis enim perfectio est virtus; Vide ne ista sint Manliana vestra aut maiora etiam, si imperes quod facere non possim. Summus dolor plures dies manere non potest? Nam ante Aristippus, et ille melius. Et quod est munus, quod opus sapientiae? Animi enim quoque dolores percipiet omnibus partibus maiores quam corporis. Duo Reges: constructio interrete. De illis, cum volemus. Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet. Philosophi autem in suis lectulis plerumque moriuntur.</p>
        <a href="#" class="o-btn btn-arrow">Learn more</a>
    </div>
</div>