<div class="hero-image">
    <img src="http://unsplash.it/1920/768" alt="" title="">
    <div class="hero-header">
        <div class="row">
            <div class="section-title-container">
                <div class="section-title-inner">
                    <div class="breadcrumb"><a href="//www.oswego.edu"><i class="fa fa-home"></i></a> &gt; <a href="https://www.oswego.edu/financial-aid">Name of Department</a></div>
                </div>
            </div>
        </div>
        <h1 class="hero-title">Name of Department</h1>
    </div>
</div>