<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link media="all" rel="stylesheet" href="https://www.oswego.edu/sites/all/themes/oswego/assets/css/oswego.style.css">
    <title>Preview Layout</title>
    <script type="text/javascript" src="https://www.oswego.edu/sites/all/themes/oswego/assets/js/modernizr-custom.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://www.oswego.edu/sites/all/themes/oswego/assets/js/vendor.js"></script>
    <script type="text/javascript" src="https://www.oswego.edu/sites/all/themes/oswego/assets/js/oswego.script.js"></script>

</head>
<body>

{{{ yield }}}

</body>
</html>