.accordion-toggle {
  display: block;
  padding: .5rem;
  border: none;
  cursor: pointer;
  &:hover {
    background: #f2f2f2;
    border: none;
  }
  &:active {
    border: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  &.open {
    background: #f2f2f2;
  }
}