.accordion-toggle {
  display: block;
  padding: .5rem;
  border: none;
  cursor: pointer; }
  .accordion-toggle:hover {
    background: #f2f2f2;
    border: none; }
  .accordion-toggle:active {
    border: none; }
  .accordion-toggle h1,
  .accordion-toggle h2,
  .accordion-toggle h3,
  .accordion-toggle h4,
  .accordion-toggle h5 {
    margin: 0; }
  .accordion-toggle.open {
    background: #f2f2f2; }
