<div class="accordion-container clearfix">
    <div class="accordion-toggle">
    <i class="fa fa-plus"></i>
        This is the title of the accordion that you click on to expand </div>
    <div class="accordion-content padding-top-2">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec quo modo conveniant, non sane intellego. Duo enim genera quae erant, fecit tria. Itaque his sapiens semper vacabit. Duo Reges: constructio interrete. Quid censes in Latino fore? </p>

            <p>Sed tamen intellego quid velit. Venit enim mihi Platonis in mentem, quem accepimus primum hic disputare solitum; Profectus in exilium Tubulus statim nec respondere ausus; Itaque contra est, ac dicitis; At ille pellit, qui permulcet sensum voluptate. Id enim natura desiderat.</p>
        </div>
    </div>
</div>